server/node_flows/music_server/pareto_to_instrumnets.json
[
    {
        "id": "3fec2372ac8bd553",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bab93a0de24146d",
        "type": "udp in",
        "z": "3fec2372ac8bd553",
        "name": "",
        "iface": "",
        "port": "8005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "7a0193442e07ded4"
            ]
        ]
    },
    {
        "id": "7a0193442e07ded4",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "",
        "path": "/ntlist",
        "metadata": false,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "857071161f90c54a"
            ]
        ]
    },
    {
        "id": "3caa5eca19e72045",
        "type": "udp out",
        "z": "3fec2372ac8bd553",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "7005",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "1e647870ebc0ba71",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "",
        "path": "/all/notelist",
        "metadata": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "7d8c0a864d656c86",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/all/notelist",
        "payload": "[2,3,5,8,12,15]",
        "payloadType": "json",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "1e647870ebc0ba71"
            ]
        ]
    },
    {
        "id": "857071161f90c54a",
        "type": "switch",
        "z": "3fec2372ac8bd553",
        "name": "Route by topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/[a-z0-9]+\\/notelist",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "\\/[a-z0-9]+\\/reset",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "\\/infraredmsp01/acceleration",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/badge/acceleration",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/nicla/levelPercentage",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/radar\\/numberOfOccupants",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/safetybutton/acceleration",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/dearbeacon\\/acceleration",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 100,
        "y": 440,
        "wires": [
            [],
            [],
            [
                "377273b1ff6fbd67"
            ],
            [
                "26c3baee495f7330"
            ],
            [
                "dd727e963923b929"
            ],
            [
                "f33205fb081393fd"
            ],
            [
                "6d978c64a0cc02b4"
            ],
            [
                "9a52f4e91c17c586"
            ]
        ]
    },
    {
        "id": "8317f355fdb96791",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "infrared sensor_value",
        "path": "/property/infrared/sensor_value",
        "metadata": false,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "377273b1ff6fbd67",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/infraredmsp01/accelerationX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "8317f355fdb96791"
            ]
        ]
    },
    {
        "id": "9c4cabc98637657d",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/config/instr1/midi_voice",
        "payload": "5",
        "payloadType": "num",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "143314c203cbc036"
            ]
        ]
    },
    {
        "id": "143314c203cbc036",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "instr1 midi_voice",
        "path": "/instr1/midi_voice",
        "metadata": false,
        "x": 710,
        "y": 740,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "26c3baee495f7330",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/badge/accelerationX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "1744752f19a0aad2"
            ]
        ]
    },
    {
        "id": "1744752f19a0aad2",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "badge sensor_value",
        "path": "/property/badge/sensor_value",
        "metadata": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "354fc0f85b188614",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "64164dd521de37f6",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce infrared",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"infrared\",\"midi_voice\":4}",
        "payloadType": "json",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    },
    {
        "id": "93993a4f6edab55f",
        "type": "json",
        "z": "3fec2372ac8bd553",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "354fc0f85b188614"
            ]
        ]
    },
    {
        "id": "1adff5f1c88365a4",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce badge",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"badge\",\"midi_voice\":4}",
        "payloadType": "json",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    },
    {
        "id": "0d876058f2adb5ad",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce nicla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"nicla\",\"midi_voice\":2}",
        "payloadType": "json",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    },
    {
        "id": "bf99256eb01ff2c8",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "nicla sensor_value",
        "path": "/property/nicla/sensor_value",
        "metadata": false,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "ee73806153bc9de4",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce radar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"radar\",\"midi_voice\":2}",
        "payloadType": "json",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    },
    {
        "id": "bee568da6e4bf5a0",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "radar sensor_value",
        "path": "/property/radar/sensor_value",
        "metadata": false,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "6d978c64a0cc02b4",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/safetybutton/accelerationX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "2bf964d57932483e"
            ]
        ]
    },
    {
        "id": "2bf964d57932483e",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "safetybutton sensor_value",
        "path": "/property/safetybutton/sensor_value",
        "metadata": false,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "dd727e963923b929",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/nicla/levelPercentage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "bf99256eb01ff2c8"
            ]
        ]
    },
    {
        "id": "f33205fb081393fd",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/radar/numberOfOccupants",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "bee568da6e4bf5a0"
            ]
        ]
    },
    {
        "id": "9a52f4e91c17c586",
        "type": "change",
        "z": "3fec2372ac8bd553",
        "name": "/dearbeacon/accelerationX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "9512c58ececea5b7"
            ]
        ]
    },
    {
        "id": "9512c58ececea5b7",
        "type": "osc",
        "z": "3fec2372ac8bd553",
        "name": "dearbeacon sensor_value",
        "path": "/property/dearbeacon/sensor_value",
        "metadata": false,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "3caa5eca19e72045"
            ]
        ]
    },
    {
        "id": "67ec1f8ddd590d74",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce dearbeacon",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"dearbeacon\",\"midi_voice\":2}",
        "payloadType": "json",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    },
    {
        "id": "b1df008add7cee9b",
        "type": "inject",
        "z": "3fec2372ac8bd553",
        "name": "announce safetybutton",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/announceLocalInstrument",
        "payload": "{\"name\":\"safetybutton\",\"midi_voice\":2}",
        "payloadType": "json",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "93993a4f6edab55f"
            ]
        ]
    }
]